* {
  margin: 0;
  padding: 0;
  /*  */
}

body {
  background-color: #000;
}

header {
  display: flex;
  position: relative;
  height: 80vh;
  width: 100vw;
  background-image: url("image/image-header.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-end;
  justify-content: center;
}

h1, h5 {
  /* position: absolute; */
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 12px;
  text-shadow: 3px 3px black;
  text-align: center;
}

h5 {
  text-align: center;
  text-shadow: 3px 2px black;
  font-size: 20px;
  bottom: 3em;
  align-self: flex-start;
  width: 100%
}

#avatar {

  height: 8em;
  align-self: flex-end;
}

.wrapper-avatar {
  flex-direction: column;
  display: flex;
  /* align-items: center; */
  height: 10em;
  flex-basis: 20%;
  /* border: 1px solid red; */
}

#fb {
  position: absolute;
  width: 3em;
  top: 2em;
  left: 2em;
  border: none;
}

main {
  min-height: 200vh;
  position: relative;
}

/* ABOUT ME SECTION */
.aboutMe {
  height: 120vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  flex-direction: column;
}

.aboutMe div {
  width:60vw;
}

.fav, .cv, .emp {
  width: 10em;
  transition: transform .2s ease-in;
  will-change: transform;
}
.emp, .cv{
  padding-bottom: 1rem;
}

.aboutMe div.divCV {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

input {
  outline: 0;
}

.cv:hover, .fav:hover, .emp:hover, .web1:hover, .web2:hover {
  cursor: pointer;
  transform: scale(1.15, 1.15);

}

#fb:hover {
  box-shadow: 0 0 20px 20px #344555;
  cursor: pointer;
  transform: scale(1.15, 1.15);
  transition-delay: .1s;
}

.aboutMe div.divEmp {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: right;
}

.aboutMe div.divFav {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

/* SECTION TITLES  */
.projects>h2, .aboutMe>h2 {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 40px;
  padding-top: 40px;
  text-shadow: 3px 3px black;
}

/* PROJECTS SECTION */
.projects {
  height: 200vh;
  background-color: #344555;
}
.wrapper-project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.project {
  /* border: 1px solid red; */
  width: 85vw;
  display: flex;
}


.web1 {
  width: 20em;
  padding: 20px;
  transition: transform .2s ease-in;
  will-change: transform;
  /* border: 1px solid red; */
}

.web1-div, .web2-div {
  padding-top: 4em;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}



footer {
  text-align: center;
  position: relative;
  background-color: #000;
  height: 5em;
  color: white;
}

footer>p {
  padding-top: 30px;
  top: 5em;
}

@media (max-width: 1442px) {
  .aboutMe {
    height: 120vh;
  }

  h5 {
    display: none;
  }

  .aboutMe div:nth-child(-n+4) {
    font-size: 14px
  }

  .aboutMe>h2, .projects>h2 {
    font-size: 30px;
  }

  .web1-div, .web2-div {
    font-size: 14px
  }
  .projects{
    height: 250vh;
  }


}

@media(max-width: 1100px) {
  .projects {
    height: 200vh;
  }

  .wrapper-project {
    flex-wrap: wrap;
  }

  .project{
    flex-direction: column;
  }
  .projects{
    height: 350vh;
  }
  .web1 {
    width: 40%;
  }


  @media (min-width: 560px) {
    .aboutMe>h2, .projects>h2 {
      font-size: 20px;
      align-self: center;
      padding-bottom: 20px;
    }

    .divCV{
      padding-bottom: 20px;
    }
    .wrapper-avatar>h1 {
      align-self: flex-end;
      font-size: 30px;
    }

    .aboutMe {
      height: 150vh;

    }
    .aboutMe div.divEmp {
      text-align: left;
    }

    .projects {
      height:300vh;
    }
    .wrapper-project{
      align-items: center;
      justify-content: center;
      align-items: center;

    }
    .web1-div, .web2-div {
      text-align: center;

    }
    .web1{
      width: 90%;
    }
  }

  @media(min-width:320px) {
    .aboutMe div.divEmp {
      text-align: center;
    }
    .aboutMe div.divFav{
      padding-bottom: 2rem;
    }
    .aboutMe {
      text-align: center;
      height: 210vh;
      justify-content: space-between
    }
    .projects{
      height: 350vh;
    }

    .wrapper-project{
      align-items: center;
      justify-content: center;
      align-items: center;

    }
    .web1-div, .web2-div {
      text-align: center;
      padding-top: 0;

    }
    .web1{
      width: 90%;
    }
    footer>p {
      font-size: 10px;
    }
  }
