* {
  margin: 0;
  padding: 0;
  /*  */
}

body {
  background-color: #000;
}

header {
  display: flex;
  position: relative;
  height: 80vh;
  width: 100vw;
  background-image: url("image/image-header.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-end;
  justify-content: center;
}

h1, h5 {
  /* position: absolute; */
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 12px;
  text-shadow: 3px 3px black;
  text-align: center;
}

h5 {
  text-align: center;
  text-shadow: 3px 2px black;
  font-size: 20px;
  bottom: 3em;
  align-self: flex-start;
  width: 100%
}

#avatar {
  height: 8em;
  align-self: flex-end;
}

.wrapper-avatar {
  flex-direction: column;
  display: flex;
  /* align-items: center; */
  height: 10em;
  flex-basis: 20%;
  /* border: 1px solid red; */
}

#fb {
  position: absolute;
  width: 3em;
  top: 2em;
  left: 2em;
  border: none;
}

main {
  min-height: 200vh;
  position: relative;
}

/* ABOUT ME SECTION */
.aboutMe {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  flex-direction: column;
}

.aboutMe div {
  /* height: 20vh; */
  padding: 20px;
  /* border: 1px solid white; */
  margin: 0 10%;
}

.fav, .cv, .emp {
  width: 10em;
}

.aboutMe div.divCV {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  /* overflow: hidden; */
  /* flex-basis: 30vw; */
}

input {
  outline: 0;
}

.cv:hover, .fav:hover, .emp:hover, .web1:hover {
  cursor: pointer;
  transform: scale(1.15, 1.15);
  transition-delay: .1s;
}

#fb:hover {
  box-shadow: 0 0 20px 20px #344555;
  cursor: pointer;
  transform: scale(1.15, 1.15);
  transition-delay: .1s;
}

.aboutMe div.divEmp {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: right;
}

.aboutMe div.divFav {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

/* TYTUÅY SEKCJI  */
.projects>h2, .aboutMe>h2 {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 40px;
  padding-top: 40px;
  text-shadow: 3px 3px black;
}

/* PROJECTS SECTION */
.projects {
  height: 120vh;
  background-color: #344555;
}

.projects div {
  padding: 20px;
  margin: 0 10%;
}

.wrapper-project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project1 {
  /* border: 1px solid red; */
  width: 85vw;
  display: flex;
}

.project2 {
  /* border: 1px solid red; */
  width: 85vw;
  display: flex;
}

.web1 {
  width: 20em;
  /* border: 1px solid red; */
  /* margin: 3em 2em 2em 8em; */
}

.web1-div, .web2-div {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.web2 {
  width: 20em;
}

footer {
  text-align: center;
  position: relative;
  background-color: #000;
  height: 5em;
  color: white;
}

footer>p {
  padding-top: 30px;
  top: 5em;
}

@media (max-width: 1442px) {
  .aboutMe {
    height: 120vh;
  }

  h5 {
    display: none;
  }

  .aboutMe div:nth-child(-n+4) {
    font-size: 14px
  }

  .aboutMe>h2, .projects>h2 {
    font-size: 30px;
  }

  .web1-div, .web2-div {
    font-size: 14px
  }
}

@media(max-width: 1100px) {
  .projects {
    height: 200vh;
  }

  .wrapper-project {
    flex-wrap: wrap;
  }

  .project1, .project2 {
    flex-direction: column;
  }

  @media (max-width: 560px) {
    .aboutMe>h2, .projects>h2 {
      font-size: 20px;
    }

    .wrapper-avatar>h1 {
      align-self: flex-end;
      font-size: 30px;
    }

    .aboutMe {
      height: 150vh;
    }
  }

  @media(max-width:320px) {
    .web1, .web2 {
      width: 15em;
    }

    footer>p {
      font-size: 10px;
    }
  }
